*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: 'Work Sans', sans-serif;
}
/* Header Section Start Here  */
header{
    padding: 50px 230px;
    background: rgba(243, 139, 21, 0.322);
}
/* navbar section  */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav > ul{
    display: flex;
}
nav li{
    list-style: none;
    margin-left: 30px;
    font-weight: 500;
    font-size: 1rem;
}
nav li a{
    text-decoration: none;
    color: #424242;
}
.nav-title{
    font-size: 2.8rem;
    font-weight: 700;
    color: #131313;
}
/* Banner Section Start Here  */
.banner-content{
    max-width: 860px;
    text-align: center;
    margin: 0 auto;
}
.banner-title{
    color: #131313;
    font-size: 4rem;
    font-weight: 700;
    padding: 20px;
    margin-top: 30px;
}
.description{
    color: #727272;
    font-size: 16px;
    line-height: 26px;
}
.btn-primary{
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    border-radius: 8px;
    background: #FF900E;
    padding: 20px 24px;
    margin: 32px 0px;
    border: none;
    cursor: pointer;
}
.banner-img{
    width: 100%;
}
/* team style start here  */
.team-container{
    margin: 130px 300px;
    display: flex;
    align-items: center;
    gap: 75px;
    background: #FFF;
}
.team-images{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}
.team-title{
    color: #727272;
    font-size: 45px;
    font-weight: 500;
}
.team-title .ofour{
    color: #131313;
    font-weight: 700;
}
.team-title .features{
    color: #FF900E;
    font-weight: 700;
}
.team-description{
    margin-top: 24px;
}
/* Responsive Website Design  */
@media screen and (max-width: 576px) {
    /* Header Navbar Banner Section  */
    header{
        padding: 20px;
    }
    nav{
        flex-direction: column;
    }
    nav > ul{
        padding-top: 20px;
    }
    nav li{
        font-size: 1.2rem;
    }
    .banner-title{
        font-size: 3rem;
    }
    /* Teams Section  */
    .team-container{
        margin: 30px 30px;
        flex-direction: column;
    }
    .team-images{
        grid-template-columns: 1fr;
        gap: 1.2rem;
    }
}
@media screen and (min-width: 577px) and (max-width: 960px) {
    /* Header Navbar Banner Section  */
    header{
        padding: 50px;
    }
    nav{
        flex-direction: column;
    }
    nav > ul{
        padding-top: 30px;
    }
    nav li{
        font-size: 1.3rem;
    }
    .banner-content{
        max-width: 100%;
    }
    .banner-title{
        font-size: 3rem;
    }
    /* Teams Section  */
    .team-container{
        width: auto;
        margin: 30px 30px;
        flex-direction: column;
    }
}