*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: 'Work Sans', sans-serif;
}
/* Header Section Start Here  */
header{
    padding: 50px 230px;
    background: rgba(243, 139, 21, 0.322);
}
/* navbar section  */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav > ul{
    display: flex;
}
nav li{
    list-style: none;
    margin-left: 30px;
    font-weight: 500;
    font-size: 1rem;
}
nav li a{
    text-decoration: none;
    color: #424242;
}
.nav-title{
    font-size: 2.8rem;
    font-weight: 700;
    color: #131313;
}
/* Banner Section Start Here  */
.banner-content{
    max-width: 860px;
    text-align: center;
    margin: 0 auto;
}
.banner-title{
    color: #131313;
    font-size: 4rem;
    font-weight: 700;
    padding: 20px;
    margin-top: 30px;
}
.description{
    color: #727272;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}
.btn-primary{
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    border-radius: 8px;
    background: #FF900E;
    padding: 20px 24px;
    margin: 32px 0px;
    border: none;
    cursor: pointer;
}
.banner-img{
    width: 100%;
}
/* team style start here  */
.team-container{
    margin: 130px 300px;
    display: flex;
    align-items: center;
    gap: 75px;
    background: #FFF;
}
.team-images{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}
.team-title{
    color: #727272;
    font-size: 45px;
    font-weight: 500;
}
.team-title .ofour{
    color: #131313;
    font-weight: 700;
}
.team-title .features-text{
    color: #FF900E;
    font-weight: 700;
}
.team-description{
    margin-top: 24px;
}
/* Features Section Start Here  */
.features{
    padding: 100px 230px;
    display: flex;
    gap: 146px;
}
.feature-title{
    color: #131313;
    font-size: 45px;
    font-weight: 700;
    border-left: 5px solid #FF900E;
    padding-left: 21px;
    margin-bottom: 24px;
}
.feature-description{
    color: #727272;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 30px;
}
.feature-content .card{
    padding: 30px;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.308);
    margin-bottom: 20px;
}
.feature-content .card .card-title{
    color:#131313;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}
.feature-content .card .card-description{
    color: #727272;
    font-size: 16px;
    line-height: 26px;
}
.ten-years-badge{
    color: #FFF;
    border-radius: 8px;
    background: #FF900E;
    padding: 40px;
    cursor: pointer;
    width: 250px;
    text-align: center;
    position: relative;
    bottom: 110px;
    right: 90px;
}
.ten-years-badge h2{
    margin: 0px;
    font-size: 65px;
    font-weight: 700;
    line-height: 70px;
}
.ten-years-badge small{
    font-size: 25px;
    font-weight: 500;
    line-height: 40px;
}
/* Facts Section Start Here  */
.facts{
    padding: 100px 230px;
}
.fact-title{
    margin-bottom: 24px;
}
.fact-description{
    width: 542px;
    margin-bottom: 100px;
}
.facts-card-container{
    display: flex;
    justify-content: space-around;
}
.facts-card-container .card{
    border-radius: 8px;
    border: 1px solid #FF900E;
    text-align: center;
    padding: 36px;
}
.facts-card-container .card-stats{
    font-size: 2.8rem;
    color: #424242;
    margin: 10px 0px 20px 0px;
}
.facts-card-container .card-title{
    font-weight: 600;
    font-size: 1.25rem;
}
/* Sponsor section start here  */
.sponsors{
    text-align: center;
}
.sponsor-img-container{
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
}
/* footer section start here  */
footer{
    padding: 130px 230px;
}
footer > p{
    text-align: center;
    font-size: 20px;
}
/* Responsive Website Design  */
@media screen and (max-width: 576px) {
    /* Header Navbar Banner Section  */
    header{
        padding: 20px;
    }
    nav{
        flex-direction: column;
    }
    nav > ul{
        padding-top: 20px;
    }
    nav li{
        font-size: 1.2rem;
    }
    .banner-title{
        font-size: 3rem;
    }
    /* Teams Section  */
    .team-container{
        padding: 30px 0px 30px 20px;
        width: 90%;
        margin: 30px 0px;
        flex-direction: column;
    }
    .team-images{
        grid-template-columns: 1fr;
        gap: 1.2rem;
    }
    /* Features Section Start Here  */
    .features{
        padding: 30px 0px 30px 10px;
        flex-direction: column;
    }
    .feature-img img{
        padding: 30px 0px;
        width: 90%;
    }
    .ten-years-badge{
        width: 230px;
        position: static;
    }
    /* Facts Section Start Here  */
    .facts{
        padding: 30px 0px 30px 0px;
        width: 90%;
    }
    .fact-description{
        width: 80%;
        margin-bottom: 50px;
    }
    .facts-card-container{
        flex-direction: column;
        gap: 30px;
        width: 80%;
    }
    .facts-card-container .card{
        margin-left: 20px;
    }
    /* Sponsor section start here  */
    .sponsor-img-container{
        flex-direction: column;
        gap: 40px;
        align-items: center;
    }
    .sponsor-img-container img{
        width: 165px;
    }
    /* footer section start here  */
    footer, .description{
        padding: 50px;
        font-size: 22px;
    }
}
@media screen and (min-width: 577px) and (max-width: 960px) {
    /* Header Navbar Banner Section  */
    header{
        padding: 50px;
    }
    nav{
        flex-direction: column;
    }
    nav > ul{
        padding-top: 30px;
    }
    nav li{
        font-size: 1.3rem;
    }
    .banner-content{
        max-width: 100%;
    }
    .banner-title{
        font-size: 3rem;
    }
    /* Teams Section  */
    .team-container{
        width: auto;
        margin: 30px 30px;
        flex-direction: column;
    }
    /* Features Section Start Here  */
    .features{
        padding: 30px;
        flex-direction: column;
    }
    .feature-img img{
        padding: 30px;
        width: 90%;
    }
    .ten-years-badge{
        padding-left: 100px;
        width: 250px;
    }
    /* Facts Section Start Here  */
    .facts{
        padding: 30px;
        width: 90%;
    }
    .facts-card-container{
        width: 90%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }
    .facts-card-container .card{
        padding: 20px;
    }
    /* Sponsor section start here  */
    .sponsor-img-container{
        flex-direction: column;
        gap: 40px;
        align-items: center;
    }
    .sponsor-img-container img{
        width: 165px;
    }
    /* footer section start here  */
    footer, .description{
        padding: 50px;
        font-size: 22px;
    }
}
.hide{
    display: none;
}